<!doctype html>
<html lang="en">

<head>
    <title>Express Typescript EJS Starter</title>
    <%- include('./inc/head'); %>
</head>

<body>
    <%- include('./inc/header'); %>
    express-typescript-ejs-starter works!
    <%- include('./inc/footer'); %>
</body>
</html>